@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import "tailwindcss";

@theme {
	--font-poppins:
		Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-space:
		"Space Grostek", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-jetbrains:
		"JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	--font-mono:
		"Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	--color-ancent: red;
	--color-base00: #0c0d0d;
	--color-base01: #191a1b;
	--color-base02: #303334;
	--color-base03: #4e5153;
	--color-base04: #6e7275;
	--color-base05: #b1b5b8;
	--color-base06: #d4d6d7;
	--color-base07: #f5f6f6;
}

@utility container {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-inline: auto;
}

h1 {
	font-family: var(--font-poppins);
	font-size: 4.75rem;
	line-height: 1;
	font-weight: 700;
	margin-left: -3px;
}

h2 {
	font-family: var(--font-space);
	font-size: 2.25rem;
	line-height: calc(2.5 / 2.25);
	font-weight: 600;
}

h3 {
	font-family: var(--font-space);
	font-size: 1.5rem;
	line-height: calc(2 / 1.5);
	font-weight: 500;
}

.blinked {
	display: flex;
	align-items: center;
}

.blinked::after {
	content: "";
	margin-left: 5px;
	width: 8px;
	height: 1.4rem;
	background-color: var(--color-ancent);
	animation: blink 0.8s steps(1, start) infinite;
}

@keyframes blink {
	0%,
	50% {
		opacity: 1;
	}
	50.01%,
	100% {
		opacity: 0;
	}
}

nav a {
	font-weight: 500;
	transition-duration: 300ms;
	transition-delay: 50ms;
}

nav a:hover {
	color: var(--color-ancent);
}

.strip {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><line x1='0' y1='20' x2='20' y2='0' stroke='%23333' stroke-width='1'/></svg>");
	/* background-size: 4rem 4rem; */
	/* background-position: */
	/* 	2rem 0, */
	/* 	2rem 0, */
	/* 	0 0, */
	/* 	0 0; */
}


.projects-card {
	display: flex;
	width: 100%;
	align-items: start;

	& > h1 {
		padding: 10px;
		flex: 1;
		font-family: var(--font-mono);
		font-size: 10rem;
		text-align: center;
		color: transparent;
		-webkit-text-stroke: 2px var(--color-base04);
	}

	&:nth-of-type(odd) {
		flex-direction: row;
	}

	&:nth-of-type(even) {
		flex-direction: row-reverse;
	}
}

.projects-card-image {
	width: 90%;
	height: auto;
	aspect-ratio: 16 / 9;
	position: relative;
	overflow: hidden;

	& > img,
	& > .projects-overlay {
		transition-behavior: allow-discrete;
		transition-property: all;
		transition-timing-function: ease-out;
		transition-duration: 300ms;
		transition-delay: 50ms;
	}
	& > img {
		width: 100%;
		height: auto;
		aspect-ratio: 16 / 9;
		object-fit: cover;
		object-position: top;
	}

	& > .projects-overlay {
		position: absolute;
		opacity: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		backdrop-filter: brightness(20%);

		& > h2 {
			font-size: 4rem;
		}
		& > h4 {
			font-size: 1.3rem;
			max-width: calc(0.45 * 100%);
			text-align: center;
		}
	}

	&:hover {
		& > img {
			transform: scale(1.1);
		}
		& > .projects-overlay {
			opacity: 1;
		}
	}
}

.projects-links {
	margin-top: 1rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}
